{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<br><br>

<div class="d-flex justify-content-center">
    <form method="POST" action="">
        <h1 style="color: white;margin-left: 20%">Login</h1><br>

        {% csrf_token %}
        {{form.username.label}}<br>
        {{form.username}}<br><br>

        {{form.password.label}}<br>
        {{form.password}}<br><br>

        <input class="btn btn-success" type="submit" value="Login"><br><br>

        {% for message in messages %}
        <p style="color: white; background: gray">{{message}}</p>
        {% endfor %}
        <p style="color:white;">If you have no account <a href="{% url 'registration'%}">Sign up</a></p>
    </form>
</div>

 <p style="color: white">qwertyui12</p>
{% endblock content %}
