body {
    background-color: hsl(0, 0%, 98%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar{
    position: sticky;!important;
    top: 0;!important;
    width: 100%;
}
footer{
    background: white;
    margin-top: auto;
}
h1, h2, h3, h4, h5, h6 {
    color: hsl(0, 0%, 30%);
}

.box-element {

    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
}

.thumbnail {
    width: 100%;
    height: 75%;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
    border-radius: 0 0 4px 4px;
}

.bg-dark {
    background-color: #4f868c !important;
}

#cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;

    border-radius: 50%;
    font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12 {
    margin-top: 10px;
}

.btn {
    border-radius: 0;
}

.row-image {
    width: 100px;
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;


}

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.chg-quantity:hover {
    opacity: .6;
}


.hidden {
    display: none !important;
}

@media only screen and (min-width: 600px) {
    .inst_logo{
        margin-bottom: 1%;
        margin-top:10px ;
        width: 5%;
    }
    #cart-total {
        width: 20px;
        height: 20px;
    }

    #cart-icon {
        width: 40px;
        display: inline-block;
        margin-left: 15px;
    }

    .label {
        width: 55%;
    }

    #cart-icon {
        width: 40px;
        display: inline-block;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .inst_logo{
        margin-bottom: 10px;
        margin-top:10px ;
        width: 10%;
    }
    #cart-total {
        width: 15px;
        height: 19px;
    }
    .btn{
        width: 60%;
        font-size:15px;
    }
    .label {
        width: 100px;
    }

    #cart-icon {
        width: 20px;
        display: inline-block;
        margin-left: 10px;
    }

    #cart-icon {
        width: 20px;
        display: inline-block;
        margin-left: 15px;
    }
    .col-lg-4{
        margin-bottom: 20%;!important;
        margin-top: 8%;!important;
    }
    footer{
        margin-top: 7%;
    }
}
